{% extends 'base.html' %}

{% block body %}
<!DOCTYPE html>
<html>
<head>
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>
</head>
<body>

<h1>My Skills</h1>

<table id="customers">
  <tr>
    <th>Skill Name</th>
    <th>Proficiency</th>
    <th>Actions</th>
  </tr>
  
  {% for i in MY_Skill %}
    
    
  <tr>
    <td>{{i.Skill_Name}}</td>
    <td>{{i.Skill_Level}}</td>
    <td>
        <a href=" {% url 'skillEditByUser' i.id %} ">Edit</a>
        <a href=" {% url 'deleteSkillByUser' i.id %} ">Delete</a>
    </td>

  </tr>
  
  {% endfor %}

</table>

</body>
</html>

    
{% endblock body %}

    